<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>FIT2095 soccer league</h1>
    <h2>Name: Linjun Cai</h2>
    <h2>Student: 33120102</h2>
    <h2>Total number of teams and player in DB:</h2>
    
    <!-- Display the total number of teams and players in the database -->
    <p>Total Teams: <%= totalTeams %></p>
    <p>Total Players: <%= totalPlayers %></p>

    <!-- Navigation links -->
    <a href="/linjun/teams/add">Add Team</a>
    <a href="/linjun/players/add">Add Player</a>
    <a href="/linjun/teams">Show all teams</a>
    <a href="/linjun/teams/add-player">Add player to team</a>
</body>
</html>
