<html>
	<body>
		<div>
            <form method="POST" action="/33120102/products/new">
                <div class="mb-3">
                    <label for="pName" class="form-label">Product name</label>
                    <input type="text" class="form-control" id="pName" name="pName" required>
                </div>
                <div class="mb-3">
                    <label for="pCategory" class="form-label">Product category</label>
                    <input type="text" class="form-control" id="pCategory" name="pCategory" required>
                </div>
                <div class="mb-3">
                    <label for="pCost" class="form-label">Product cost</label>
                    <input type="number" class="form-control" id="pCost" name="pCost" required>
                </div>
                <button type="submit" >Submit</button>
            </form>
		</div>
	</body>
</html>